@using RejestrOsobZaginionych.Models.MissingPerson
@using RejestrOsobZaginionych.Models.Common
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
    PaginatedResponse<MissingPersonListEntry> response = ViewBag.MissingPersonList;
}
@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="MissingPerson" asp-action="Add">
        <button class="btn btn-primary">Add person</button>
    </a>
}

<p>Page: @response.Page</p>
<p>HasMore: @response.HasMore</p>

@foreach (var missingPerson in response.Rows)
{
    var imageSrc = missingPerson.ImagePath ?? "resources/default_person_image.jpg";
    <img src=@imageSrc alt="Person Image"/>
    <p>FirstName: @missingPerson.FirstName</p>
    <p>LastName: @missingPerson.LastName</p>
    <p>Age: @missingPerson.Age</p>
    <p>MissingSince: @missingPerson.MissingSince</p>
    <p>Location: @missingPerson.Location</p>
    <hr>
}

@if (response.Page > 0)
{
    <a href="@Url.Action("Index", new { page = response.Page - 1 })">
        <button class="btn btn-primary">
            &laquo; Prev
        </button>
    </a>
}

@if (response.HasMore)
{
    <a href="@Url.Action("Index", new { page = response.Page + 1 })">
        <button class="btn btn-primary">
            Next &raquo;
        </button>
    </a>
}